:root {
	/* Base font size */
	font-size: 10px;

	/* Heading height variable*/
	--heading-height: 55px;
}

body{
	background-image: url(../img/background.jpg);
	color: white;
}



header{
    /* position: fixed; */
	width: 100%;
	height: var(--heading-height);
	padding-top: 35px;
}

/* Create angled background with 'before' pseudo-element */
header:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 6em;
	width: 100%;
	height: calc(var(--heading-height) + 7em);
	z-index: -1;
	transform: skewY(-3.5deg);
	background:
		linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
		black;
		linear-gradient(#4e4376, #2b5876);
	background-size: cover;
	border-bottom: .2em solid black;
}

.logo{
    float: right;
    clear: right;
    vertical-align: center;
    margin-right: 50px;
}

header h1{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

header h2{
    font-size: 30px;
    text-align: center;
}
main .container{
    margin-top: 100px;
    display: block;
    height: auto;
	padding-top: 30px;
}
form{
	display: block;
	text-align: center;
}

input{
	margin-left: 20px;
	margin-right: 20px;
	font-weight: bolder;
	color: white;
}

.start{
	background-color: #4CAF50;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.stop{
	background-color: #FF0000;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.reset{
	background-color: #D0C000;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h2{
	font-size: 20px;
}

.position{
	text-align: center;
    left: 25%;
    right: 25%;
    margin: auto;
    height: 100px;
}

#x{
	display: inline-block;
}

#z{
	display: inline-block;
}

.graphic{
    margin: auto;
    text-align: center;
}

footer{
    position: absolute;
    bottom: 0;
}
