<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data View</title>
</head>
<body>
    <div id="position">
        <h2 id="positionX">Position X:</h2>
        <h2 id="positionZ">Position Z:</h2>
        <h2 id="comment">Dummer Kommentar</h2>
    </div>
    <button onclick="stopInterval()">
        stop data fetch
    </button>
</body>
<script>
    window.loadData; // interval for updates

    function startInterval()
    {
        window.loadData = setInterval(getNewData, 50);
        console.log("interval startet");
    }

    function stopInterval()
    {
        clearInterval(window.loadData);
        console.log("interval stopped");
    }

    function getNewData()
    {
        console.log("fetching new data");
        // todo ajax
        fetch("test_db.sqlite3") // Call the fetch function passing the url of the API as a parameter
        .then(function(data) {
            console.log("the data:", data);
            let currentValueOther = data.testdb[0];
            let currentValue = data.testdb[returnval.testdb.length - 1];

            document.getElementById("positionX").innerText = currentValue.x;
            document.getElementById("positionZ").innerText = currentValue.y;
            document.getElementById("comment").innerText = currentValue.comment;
        })
    }

    startInterval();
</script>
</html>