{% extends "layout.html" %}
{% block content %}
    <div id="head">
        <form method="post" action="/">
            <input type="submit" class="start" value="Start" name="Start">
            <input type="submit" class="stop" value="Stop" name="Stop">
            <input type="submit" class="dataview" value="dataview" name="dataview">
            <input type="submit" class="position" value="Position" name="Position">
        </form>
    </div>
    <div id="position">
        <h2>X-Position: {{ x }}</h2>
        <h2>Z-Position: {{ z }}</h2>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <div id="chart_div" style="width: 990px; height: 300px"></div>
        <div class="graphic">
            <h2>Coming soon: Our awesome graphics!</h2>
        </div>
    </div>
{% endblock %}