<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <script src="/static/script/refresh.js"></script>
    <title>Gruppe 33 - Laufkatze</title>

</head>
<body>
<header>
        <img class="logo" src="../static/img/logo_temp.png" alt="logo"/>
        <h1>Black Panther</h1>
        <h2>Pren Gruppe 33</h2>
</header>
<main>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</main>
<footer>
    <div class="container">
        <h3>Gruppe 33 - Kevin Huber, Burak Kizilkaya, Silvio Niggli, Larissa Schuler, Björn Wicki, Janick Zehnder</h3>
    </div>
</footer>
</body>
</html>