<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script src="/static/script/refresh.js"></script>
    <title>Gruppe 33 - Laufkatze</title>

</head>
<body>
<header>
        <h1>Black Panther</h1>
        <h2>Pren Gruppe 33</h2>
</header>
<main>
    <div class="container">
        <div id="head">
            <form method="post" action="/">
                <input type="submit" class="start" value="Start" name="Start">
                <input type="submit" class="stop" value="Stop" name="Stop">
                <input type="submit" class="reset" value="Reset" name="Reset">
                <input type="submit" class="position" value="Position" name="Position">
            </form>
        </div>
        <div id="position">
            <h2>X-Position: {{ x }}</h2>
            <h2>Z-Position: {{ z }}</h2>
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>
            <div id="chart_div" style="width: 100%; height: 25%"></div>
            <div class="graphic">
                <h2>Coming soon: Our awesome graphics!</h2>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container">
        <h3>Gruppe 33 - Kevin Huber, Burak Kizilkaya, Silvio Niggli, Larissa Schuler, Björn Wicki, Janick Zehnder</h3>
    </div>
</footer>
</body>
</html>