<?php
    header('Content-type: text/html');
    header('Access-Control-Allow-Origin: *');
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style2.css"/>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src="../static/script/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        console.log("started");
        $(document).ready(function () {
            window.setInterval(updateData, 200);
        });

        let dataArray = {{ posData }};
        let xData = {{ x_data }};
        let zData ={{ z_data }};
        let chart;


        function addDataPoints(noOfDps, x = xData, z = zData) {
            for (var i = 0; i < noOfDps; i++) {
                xVal = x[i];
                zVal = z[i];
                chart.options.data[0].dataPoints.push({x: xVal, y: zVal});
            }
        }

        window.onload = function () {
            chart = new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                animationEnabled: true,
                zoomEnabled: true,
                title: {
                    text: "Lastposition"
                },
                data: [{
                    type: "area",
                    dataPoints: []
                }]
            });
            console.log(dataArray.length);
            addDataPoints(dataArray.length + 1);
            chart.render();
        }

        function updateData() {
            console.log("Data updating");
            $.ajax({
                url: "/pos",
                type: "get",
                success: function (response) {
                    var jsonObj = jQuery.parseJSON(response);

                    $("#x").html("X-Position: " + jsonObj.x);
                    $("#z").html("Z-Position: " + jsonObj.z);
                    if (chart != null) {
                        addDataPoints(1, [jsonObj.x], [jsonObj.z]);
                        chart.render();
                    }

                },
                error: function (respone) {
                    $("#error").html("Fehler: " + respone.responseText);
                }
            });

        }
    </script>

    <title>Gruppe 33 - Laufkatze</title>

</head>
<body>
<header>
    <h1>Black Panther</h1>
    <h2>Pren Gruppe 33</h2>
</header>
<main>
    <div id="blackPanther"></div>
    <div class="container">
        <div class="button">
            <form method="post" action="/">
                <input type="submit" class="start" value="Start" name="Start">
                <input type="submit" class="stop" value="Stop" name="Stop">
                <input type="submit" class="reset" value="Reset" name="Reset">
            </form>
        </div>
        <div class="position">
            <h2 id="x">X-Position: {{ x }}</h2>
            <h2 id="z">Z-Position: {{ z }}</h2>
        </div>
    </div>

    <div id="chartContainer"></div>

</main>
<footer>
    <div class="container">
        <h3>Gruppe 33 - Kevin Huber, Burak Kizilkaya, Silvio Niggli, Larissa Schuler, Björn Wicki, Janick Zehnder</h3>
    </div>

</footer>
</body>
</html>